.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container .main-content {
  width: calc(100vw - 200px);
  background-color: #1a1a1a;
}

.container .main-content .cards-area{
  min-height: 100%;
  width: 900px;
  border: 3px solid red;
  padding: 40px;
}
